// app global css
.logo {
  font-weight: 700;
  color: #499965;
  padding-bottom: 5px;
}

.text-logo {
  color: #499965
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:focus {
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  text-decoration: none;
  color: black
}

.q-parallax {
  //min-height: 100vh;
}

.q-splitter--vertical .q-splitter__panel {
  overflow: hidden;
}

.q-splitter__panel, .splitter__after {
  overflow: hidden;
}

.link:link {
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.link.active {
  border: 2px solid #FFA400;
}

.white-color {
  color: white;
}

.fullcol {
  min-height: 100vh !important;
  display: block;
}

.q-drawer {
  background: rgba(255, 255, 255, 0.8);
}

.main-green {
  background: #499965 !important;
  color: white !important;
}

@media (max-width: 480px) {
  a:visited {
    color: #fff;
  }

  .q-item__section--avatar {
    color: #fff;
  }
}

.main-orange, a:visited .main-orange,
.main-orange a:visited,
.main-orange .text-white {
  font-weight: 500;
  border: 2px solid #FFA400;
  border-radius: 15px;
  margin: 10px 5px;
  color: #FFA400 !important;
}

.bg-main-green {
  background: #116939 !important;
  color: white !important;
}

.bg-tertiary {
  background: #7d62e1;
}

.text-tertiary {
  color: #7d62e1;
  font-weight: 700;
  margin: 20px;
}

.bolder {
  font-weight: 700;
}

.bg-custom {
  //background-color: rgba(117, 117, 117,0.7) !important;
  background-color: rgba(255, 255, 255, 1) !important;
}

.q-router-link--exact-active .text-green-5 {
  color: #97d0a0 !important;
}

.q-badge {
  /* padding: 8px 15px;*/
}

.advise {
  font-size 16px;
}

.q-item {
  padding: 0px 16px;
}

.q-page .q-card {
  margin-top: 10px;
}

.q-card, .q-table-container {
  border-radius: 10px;
}

.q-tab--active .q-tab__indicator {
  opacity: 0;
}

.help-block {
  color: red;
}

.q-field__bottom {
  font-size: 15px;
}

.img-thumbnail {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 8px;
}

.q-item {
  min-height: 43px;
}

//.q-field--with-bottom {
//  padding-bottom: 0px;
//}
.q-pdfviewer iframe {
  max-height: 400px;
  position: absolute !important;
}

.qbanners {
  position absolute;
  bottom: 20px;
  left: 0px
  z-index: 300;
}

.home-title {
  font-weight 900;
  font-size: 2rem;
}

.home-description {
  font-weight 300
  font-size 1.1rem
  padding 10px
}

